<ion-view id="userMessagesView" cache-view="false" view-title="<i class='icon ion-chatbubble user-messages-top-icon'></i> <div class='msg-header-username'>Menu</div>">
    <div class="loader-center" ng-if="!doneLoading">
        <div class="loader">
            <i class="icon ion-loading-c"></i>
        </div>
    </div>
    <ion-content has-bouncing="true" class="has-header has-footer" delegate-handle="userMessageScroll" ng-style="!options.length && {'margin-bottom':'0'} || {'margin-bottom':'75px'}">
        <div class="row">
            <div class="col card">Timetables</div>
            <div class="col card">Terminal Map</div>
            <div class="col card">?</div>
        </div>
        <div class="row">
            <div class="col card">My Offers</div>
            <div class="col card">On Train Service</div>
            <div class="col card">On Train TV</div>
        </div>
        <div class="row">
            <div class="col card">Weather</div>
            <div class="col card">Taxi</div>
            <div class="col card">OpenTable</div>
        </div>
        <div class="row">
            <div class="col card">Attractions</div>
            <div class="col card">Hotel</div>
            <div class="col card">Feedback</div>
        </div>
    </ion-content>
</ion-view>
